@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Prompt-Regular.woff') format('woff'),
    url('/fonts/Prompt-Regular.ttf') format('truetype'),
    url('/fonts/Prompt-Regular.svg#Prompt-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt-Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Prompt-Black.woff') format('woff'),
    url('/fonts/Prompt-Black.ttf') format('truetype'),
    url('/fonts/Prompt-Black.svg#Prompt-Regular') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Prompt-Light.woff') format('woff'),
    url('/fonts/Prompt-Light.ttf') format('truetype'),
    url('/fonts/Prompt-Light.svg#Prompt-Regular') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Prompt-Medium.woff') format('woff'),
    url('/fonts/Prompt-Medium.ttf') format('truetype'),
    url('/fonts/Prompt-Medium.svg#Prompt-Regular') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Prompt-SemiBold.woff') format('woff'),
    url('/fonts/Prompt-SemiBold.ttf') format('truetype'),
    url('/fonts/Prompt-SemiBold.svg#Prompt-Regular') format('svg');
    font-weight: 600;
    font-style: normal;
}@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt-Thin.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Prompt-Thin.woff') format('woff'),
    url('/fonts/Prompt-Thin.ttf') format('truetype'),
    url('/fonts/Prompt-Thin.svg#Prompt-Regular') format('svg');
    font-weight: 100;
    font-style: normal;
}@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Prompt-ExtraLight.woff') format('woff'),
    url('/fonts/Prompt-ExtraLight.ttf') format('truetype'),
    url('/fonts/Prompt-ExtraLight.svg#Prompt-Regular') format('svg');
    font-weight: 200;
    font-style: normal;
}
