/* Mixins A Breakpoint */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Prompt", sans-serif;
}

body {
  transition: all 0.4s ease;
  display: grid;
  grid-template-areas: "header header header header" "main main main main";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 60px 1fr;
  min-height: 100vh;
  width: 100%;
}
body header {
  position: fixed;
  width: 100%;
  height: 60px;
  grid-area: header;
  display: flex;
  align-items: center;
}
@media (min-width: 2000px) {
  body header {
    height: 100px;
  }
}
body .main {
  overflow-y: auto;
  grid-area: main;
}
body div.main {
  display: grid;
  grid-template-areas: "content" "footer";
  grid-template-rows: 1fr 50px;
  grid-template-columns: 1fr;
}
body div.main main {
  grid-area: content;
}
body div.main footer {
  grid-area: footer;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
body.position-left {
  margin-left: 270px;
}

.auth {
  /* UL list-style-type = none */
  /* Media Query*/
}
.auth .content {
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  /* Content Header */
  /* Condition into */
  /*  Conditions */
}
@media (max-width: 780px) {
  .auth .content .content-header {
    font-size: 1.89em;
    line-height: 1.08;
    margin-bottom: 25px;
  }
}
@media (min-width: 780px) {
  .auth .content .content-header {
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 25px;
  }
}
.auth .content .conditions-into {
  padding: 10px 15px !important;
  margin: 40px 0;
  border: 1px solid rgba(242, 132, 20, 0.15);
  background: rgba(242, 132, 20, 0.015);
  /* Alert box */
  /* Close Btn */
  /* Content body */
  /* Text Author */
}
.auth .content .conditions-into .close {
  position: absolute;
  cursor: pointer;
  padding: 0 !important;
  text-align: center;
  right: -15px;
  top: -15px;
  font-size: 2.5em;
  color: #f23311;
}
.auth .content .conditions-into .content-body {
  margin: 0 auto;
}
.auth .content .conditions-into .content-body .text-into {
  font-size: 18px;
  text-indent: 30px;
  font-weight: 300;
}
.auth .content .conditions-into .text-author {
  padding-bottom: 15px;
}
@media (min-width: 780px) {
  .auth .content .conditions-into .text-author {
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
  }
}
.auth .content .conditions-into .text-author .group-text {
  text-align: center;
}
.auth .content .conditions-into .text-author .group-text p {
  margin: 0;
  padding: 0;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.2;
}
.auth .content .conditions-into .text-author .group-text p:last-of-type {
  font-size: 18px;
  font-weight: 300;
}
.auth .content .conditions {
  padding-left: 15px;
  padding-right: 15px;
  /* Conditions Header */
  /* Conditions Item */
}
.auth .content .conditions .conditions-header {
  font-size: 1.5em;
}
.auth .content .conditions .conditions-item {
  font-size: 18px;
  font-weight: 300;
}
.auth .conditions-nav {
  list-style-type: none;
}
@media (max-width: 700px) {
  .auth .content {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 1000px) and (min-width: 700px) {
  .auth .content {
    width: 700px;
    margin: 0 auto;
  }
}

/* Mixins A Breakpoint */
.auth-navbar {
  display: flex;
  width: 100%;
  background: transparent;
  height: 100%;
  /* Sidebar Visible only 480px*/
}
@media (min-width: 1300px) {
  .auth-navbar {
    padding-top: 50px;
  }
}
.auth-navbar a {
  color: #6f6f6f;
  text-decoration: none;
}
.auth-navbar a:hover {
  color: #363636;
}
.auth-navbar .navbar-content {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  /* Main-Nav hidden only max 480px */
}
.auth-navbar .navbar-content .navbar-header {
  display: flex;
  align-items: center;
}
.auth-navbar .navbar-content .navbar-header a {
  font-size: 1.3rem;
  font-weight: 400;
}
.auth-navbar .navbar-content .navbar-header .icons::before {
  font-size: 2.2rem;
}
.auth-navbar .navbar-content .nav-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.auth-navbar .navbar-content .nav-links .links {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.auth-navbar .navbar-content .nav-links .links:last-of-type {
  padding-right: 15px;
}
@media (max-width: 480px) {
  .auth-navbar .navbar-content .nav-links .hidden-sm {
    display: none;
  }
  .auth-navbar .navbar-content .nav-links .only-sm {
    display: inline;
  }
  .auth-navbar .navbar-content .nav-links .only-sm #toggleBTN {
    cursor: pointer;
  }
  .auth-navbar .navbar-content .nav-links .only-sm .bar1,
.auth-navbar .navbar-content .nav-links .only-sm .bar2,
.auth-navbar .navbar-content .nav-links .only-sm .bar3 {
    width: 23px;
    height: 3px;
    background-color: #6f6f6f;
    margin: 5px 0;
    transition: 0.4s ease;
  }
  .auth-navbar .navbar-content .nav-links .only-sm .change .bar1 {
    transform: rotate(-45deg) translate(-3px, 5px);
  }
  .auth-navbar .navbar-content .nav-links .only-sm .change .bar2 {
    opacity: 0;
  }
  .auth-navbar .navbar-content .nav-links .only-sm .change .bar3 {
    transform: rotate(45deg) translate(-6px, -8px);
  }
}
@media (min-width: 480px) {
  .auth-navbar .navbar-content .nav-links .hidden-sm {
    display: inline;
  }
  .auth-navbar .navbar-content .nav-links .only-sm {
    display: none;
  }
}
.auth-navbar .sidebar {
  position: fixed;
  background: #ffffff;
  height: 100%;
  width: 270px;
  left: 0;
  top: 0;
  transition: transform 0.4s ease;
}
@media (min-width: 480px) {
  .auth-navbar .sidebar {
    display: none;
  }
}
.auth-navbar .sidebar.isClose {
  transform: translate3d(-270px, 0, 0);
}
.auth-navbar .sidebar .items.header {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  min-height: 50px;
  color: #757575;
  padding: 0 15px;
}
.auth-navbar .sidebar .nav-links {
  display: block;
}
.auth-navbar .sidebar .nav-links .items:nth-of-type(3) .links {
  border-bottom: 1px solid rgba(128, 128, 128, 0.14);
}
.auth-navbar .sidebar .nav-links .links {
  border-top: 1px solid rgba(128, 128, 128, 0.14);
  padding: 8px 15px;
  display: block;
}

/* Mixins A Breakpoint */
@media (max-width: 1200px) and (min-width: 900px) {
  .auth.container-fluid {
    width: 900px;
    margin: 0 auto;
  }
}
@media (max-width: 2000px) and (min-width: 1200px) {
  .auth.container-fluid {
    width: 1191px;
    margin: 0 auto;
  }
}
@media (min-width: 2000px) {
  .auth.container-fluid {
    width: 60%;
    margin: 0 auto;
  }
}