@import "../variables";
@import "../mixins/fonts";
@import "../mixins/breakpoint";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $white;
    @include Prompt();
}

body {
    transition: all 0.4s ease;

    display: grid;
    grid-template-areas: "header header header header" "main main main main";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60px 1fr;

    min-height: 100vh;
    width: 100%;

    header {
        position: fixed;
        width: 100%;
        height: 60px;
        grid-area: header;
        display: flex;
        align-items: center;
        @include breakpoint(2000px, min) {
            height: 100px;
        }
    }

    .main {
        overflow-y: auto;
        grid-area: main;
    }

    div.main {
        display: grid;
        grid-template-areas: "content" "footer";
        grid-template-rows: 1fr 50px;
        grid-template-columns: 1fr;

        main {
            grid-area: content;
        }

        footer {
            grid-area: footer;
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
        }
    }

    &.position-left {
        margin-left: 270px;
    }
}

@import "../auth/partials/content";
@import "../auth/partials/conditions_form";
@import "../auth/partials/verify_code";
