@import "../mixins/breakpoint";

@include breakpoint(320px, max){
    .auth{
        &.container-fluid{
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

@include breakpoint(1024px, min){
    .auth{
        &.container-fluid{
            width: 800px;
        }
    }
}

@include breakpoint(700px, min){
    .auth{
        &.container-fluid{
            width: 580px;
        }
    }

}
@include breakpoint(800px, min){
    .auth{
        &.container-fluid{
            width: 680px;
        }
    }
}
@include breakpoint(1000px, min){
    .auth{
        &.container-fluid{
            width: 780px;
        }
    }
}
@include breakpoint(1200px, min){
    .auth{
        &.container-fluid{
            width: 999px;
        }
    }
}
@include breakpoint(1300px, min)
{
    .auth{
        &.container-fluid{
            width: 1191px;
        }
    }
}
@include breakpoint(1800px, min){
    .auth{
        &.container-fluid{
            width: 1411px;
            padding: 0;
        }
    }
}
