@import "../mixins/breakpoint";
.auth{
    &.container-fluid{
        @include breakpoint(2000px, max){
            @include breakpoint(1400px, min){
                width: 80%;
                margin: 0 auto;
            }
        }
        @include breakpoint(2000px, min){
            width: 60%;
            margin: 0 auto;
        }
    }
}
